body {
    font-family: 'Montserrat', sans-serif;
}

#title {
    background-color: #ff4c68;
    color: white;
}
.rowtitle {
    margin-top: 3rem;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    line-height: 1.5;
    font-size: 3.5rem;
}
.container-fluid {
    padding: 3% 15%;
}
.titleimage {
    padding-top: 6rem;
}
/* Nav bar styles */
.navbar {
    padding: 3% 15% 2rem 15%;
}
.navbar-brand {
    font-family: Ubuntu;
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item {
    padding: 0 18px;
}
.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat';

}
/* Download buttons */
.download-btn {
    margin: 5% 3% 5% 0;
}
/* Title image */
.title-image {
    width: 60%;
    transform: rotate(25deg);
    margin-left: 4rem;
}
